/* src/App.css */


html {
  scroll-behavior: smooth;
}



@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.App
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Adjust space for footer */
  min-height: 100vh; /* Ensure full screen height */
  background-size: 300% 300%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}
.app-header {
  text-align: center;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 100px 20px 50px;
}

.app-header h1 {
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.app-header h2 {
  font-size: 1.5em;
  color: #cccccc;
}


.cta-button {
  background-color: #55a4e9; /* Blue button */
  color: #ffffff;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1.1em;
  border-radius: 30px;
  display: inline-block;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add shadow transition */
}

.cta-button:hover {
  background-color: #005fa3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}


/* src/App.css */
footer {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0); /* Match header style */
  position: relative; /* Relative position for alignment */
  bottom: 0; /* Align at the bottom */
}

